@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

@layer base {
  body {
    @apply antialiased;
    color: var(--foreground);
    background: var(--background);
  }

  ::selection {
    @apply bg-primary text-secondary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 8s linear infinite;
  }
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@layer components {
  .roadmap-card {
    @apply transform transition-all duration-300;
  }
  
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-400;
  }
}
